    <app-menu></app-menu> 
    <Label>Student List</Label> |
    <a routerLink="/students/create">Create</a> |
    <input [(ngModel)] ="searchCriteria" type = "text" placeholder="Search">
    <div class="component">
        <table class="table table-sm">
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Sat</th>
                <th>GPA</th>
                <th>MajorId</th>

            </tr>
            <tr *ngFor="let s of students | studentSearch: searchCriteria">
                <td>{{s.id}}</td>
                <td>{{s.name}}</td>
                <td>{{s.sat}}</td>
                <td>{{s.gpa}}</td>
                <td>{{s.majorId != null ? s.major.name: "Undeclared"}}</td>
                <td>
                    <a routerLink="/students/detail/{{s.id}}">Detail</a> |
                    <a routerLink="/students/edit/{{s.id}}">Edit</a>
                </td>
            </tr>
        </table>
    </div>
